certbot_dns_eth_api:dns_eth_api_host = {{ certbot_eth_api }}
certbot_dns_eth_api:dns_eth_api_ca = {{ certbot_eth_ca }}
certbot_dns_eth_api:dns_eth_api_cert = {{ certbot_eth_cert }}
certbot_dns_eth_api:dns_eth_api_key = {{ certbot_eth_key }}

