# {{ ansible_managed }}

[Unit]
Description=Renew LE certificates

[Service]
ExecStart=/usr/bin/certbot renew
{% for execstartpost_task in certbot_execstartpost_tasks %}
ExecStartPost={{ execstartpost_task }}
{% endfor %}
Type=oneshot

[Install]
WantedBy=multi-user.target
