# {{ ansible_managed }}

[Unit]
Description=Renew LE certificates

[Service]
ExecStart=/usr/bin/certbot renew
ExecStartPost=/etc/certbot/cert-assembler.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
